/* Pagina Detalles */

.image-detail img {
    height: 50vh !important;
    object-fit: contain !important;
    width: 80vw !important;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.651);
    color: antiquewhite;
    text-align: center !important;
}

.description p {
    width: 70% !important;
    line-height: 1rem;
}

.city-name {
    font-family: 'Joan', serif !important;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 5px rgb(70, 39, 247);
}

.itinerary {
    margin: 2rem !important;
}

.button-back {
    margin: 1.5rem;
    --font-color: #1e0252;
    --bg-color: #85c8ee;
    --main-color: #020a50;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.button-back:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}